html, body, table {
    margin: 2px;
}

body, input {
    background-color: #000000;
    color: lime;
    font-family: Consolas, Monaco, Lucida Console, Courier New, monospace, serif;
    font-size: x-large;
}

input, input:focus {
    margin-left: 5px;
    border: none;
    outline: 0;
}
