html, body, #prompt, #cmd, #output {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    background-color: #000000;
    color: lime;
    font-family: Consolas, Monaco, Lucida Console, Courier New, monospace, serif;
    font-size: x-large;
}

#prompt {
    position: absolute;
    top: 0;
    left: 0;
}

#cmd, #cmd:focus {
    resize: none;
    text-indent: 0.55em;
    width: 100%;
    border: none;
    outline: 0;
    background-color: transparent;
}
